* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --heading: #ffffff;
  --content: #d7d7d7;
  --body: #e6e8eb;
  --background: #494c4b;
  --details: #44bd32;

  --gradient-green-2: linear-gradient(
    135deg,
    #37b979 0%,
    #517385 100%,
    #517385 100%
  );

  --gradient-green-1: linear-gradient(135deg, #47e9dd 0%, #d5c570 100%);
}

html {
  @media (max-width: 1366px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 1024px) {
    font-size: 87.5%;
  }
}

body {
  color: var(--heading);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
