.container {
  position: fixed;
  bottom: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  border-radius: 15px 15px 0 0;
  height: 80px;

  background: #222;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  img {
    border-radius: 30px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
      font-family: Rubik;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 21px;

      color: var(--heading);
    }

    span {
      font-family: Quicksand;
      font-size: 0.75rem;
      line-height: 15px;

      color: var(--body);
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }
}

.slider {
  flex: 1;
}
