.container {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 80px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  align-items: center;

  padding: 0 1rem;

  border-radius: 15px 15px 0 0;

  background: var(--background);

  transition: height 0.5s;

  @media (max-width: 425px) {
    display: flex;
  }
}

.none {
  height: 0px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;

  @media (max-width: 420px) {
    display: none;
    justify-content: center;
  }

  img {
    border-radius: 30px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
      font-family: Rubik;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 21px;

      color: var(--heading);
    }

    span {
      font-family: Quicksand;
      font-size: 0.75rem;
      line-height: 15px;

      color: var(--body);
    }
  }
}

.playTools {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transform: filter 0.2;

    @media (max-width: 480px) {
      img {
        width: 50%;
        height: 50%;
      }
    }

    &:disabled {
      cursor: default;
      opacity: (0.5);
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3)
        hue-rotate(100deg);
    }

    &.playButton {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 5px;
      background: var(--gradient-green-1);

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 5px;

  font-size: 0.875rem;

  span {
    font-family: Quicksand;
    font-size: 0.875rem;

    text-align: center;
    display: inline-block;
    width: 4rem;
  }
}

.slider {
  flex: 1;
}

.invisble {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    position: absolute;
    top: 15px;
    right: 15px;

    background: transparent;

    &:hover {
      filter: brightness(0.7);
    }
  }

  // @media (max-width: 425px) {
  //   display: none;
  // }
}
